[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-yaourt"]
	path = dotbot-yaourt
	url = https://github.com/niklas-heer/dotbot-yaourt
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
